.todo-list {
    padding-top: 15px;
}

.todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px 15px 0px;
    border-radius: 6px 6px 6px 6px;
    outline: none;
    background: linear-gradient(
        90deg,
        rgba(20, 159, 255, 1) 0%,
        rgba(17, 122, 255, 1) 100%
      );
}

.todo-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
}
  
.todo-row:nth-child(4n + 2) {
background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
);
}
  
.todo-row:nth-child(4n + 3) {
background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
);
}  

.title-work {    
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    padding-left: 14px;
}

.icon {
    display: flex;
    padding-right: 16px;        
}

.remove-icon {
    padding-right: 8px;
}

.check-icon {
    margin-right: -10px;
}
