.todo-list {
    width: 90%;
    margin: 17px 20px 8px 26px;
    cursor: pointer;
    transition: width 0.3s ease-in-out;
}

.todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px 12px 0px;
    border-radius: 6px 6px 6px 6px;
    outline: none;
}

.todo-list:hover {
    width: 485px;
}

.todo-complete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px 12px 0px;
    border-radius: 6px 6px 6px 6px;
    outline: none;
    opacity: 0.6;
}

.row-0 {
    background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}
  
.row-1 {
    background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );
}
  
.row-2 {
    background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}  

.row-3 {
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
}

.row-4 {
    background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}
  
.row-5 {
    background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );
}
  
.row-6 {
    background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}  

.row-7 {
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
}

.row-8 {
    background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.title-work {    
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    padding-left: 14px;
}

.icon {
    display: flex;
    padding-right: 16px;        
}

.remove-icon {
    padding-right: 8px;
}

.check-icon {
    margin-right: -10px;
}

@media only screen and (min-width: 515px) and (max-width: 720px) {
   .todo-list {
     margin: 12px 15px 4px 20px;
   }

   .todo-list:hover {
    width: 325px;
   }
}
