html {
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;
}
*,*:before,*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button{
outline: none;
}
input{
line-height: normal;
}
label,
button{
cursor: pointer;
}
a {
text-decoration: none;
}
img {
display: block;
max-width: 100%;
}

body {
  background: 
  linear-gradient(
  270deg,
  #c850c0, 
  #4158d0
  );
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  width: 520px;
  min-height: 650px;
  background: #161a2b;
  text-align: center;
  margin: 50px auto;
  border-radius: 10px;
  padding-bottom: 15px;
}

.title-text {
  margin-top: 45px;
  top: 20px;
  left: 110px;
  font-size: 20px;
  color: #fff;
}

.form-input {
  margin-top: 25px;
}

.input-work {
  display: flex;
  margin-left: 73.5px;
}

input.todo-input {
  padding: 14px 30px 14px 16px;
  width: 300px;
  border-radius: 5px 0 0 5px;
  border: 2px solid #5d0cff;
  outline: none;
  background: transparent;
  transition: all 2s ease;
}

input.todo-input:hover {
  border: 2px solid #7d0688;
  border-right: none;
}

input.todo-input:focus {
  color: #fff;
}

input.todo-input::placeholder {
  color: #e2e2e2;
}

.btn-submit {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

 /* Responsive for Iphone 5/SE device */
@media only screen and (min-width: 320px) and (max-width: 374px) {
  .App {
    margin-top: 30px;
    width: 280px;
    min-height: 500px;
    margin-left: 21px;
  }

  .title-text {
    font-size: 15px;
  }

  .input-work {
    margin-left: 12px;
  }

  input.todo-input {
    width: 175px;
  }

  .title-text {
    margin-top: 25px;
  }

  .form-input {
    margin-top: 13px;
  }
}

/* Responsive for Iphone 6/7/8 device */
@media only screen and (min-width: 375px) and (max-width: 414px) {
  .App {
    margin-top: 30px;
    width: 330px;
    min-height: 550px;
  }

  .title-text {
    font-size: 15px;
  }

  .input-work {
    margin-left: 20px;
  }

  input.todo-input {
    width: 210px;
  }

  .title-text {
    margin-top: 25px;
  }
}

/* Responsive for Iphone 6/7/8 and Iphone X plus device */
@media only screen and (min-width: 414px) and (max-width: 514px) {
  .App {
    margin-top: 30px;
    width: 330px;
    min-height: 550px;
  }

  .title-text {
    font-size: 15px;
  }

  .input-work {
    margin-left: 26px;
  }

  input.todo-input {
    width: 210px;
  }

  .title-text {
    margin-top: 25px;
  }
}

/* Responsive for another screen inch */
@media only screen and (min-width: 515px) and (max-width: 660px) {
  .App {
    width: 350px;
  }
  .form-input {
    display: flex;
    flex-direction: column;
  }
  input.todo-input {
    width: 240px;
    margin-left: 20px;
  }
  .input-work {
    margin-left: 0;
  }
}